@font-face {
  font-family: "Plain Light";
  src: url(./Fonts/plain-regular-webfont.ttf);
}

@font-face {
  font-family: "Plain Light";
  src: url(./Fonts/plain-light-webfont.ttf);
}

@font-face {
  font-family: "silk serif";
  src: url(./Fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
  font-family: "silk serif";
  src: url(./Fonts/silkserif-lightitalic-webfont.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;
}
#crsr {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  border: 2px solid rgb(195, 195, 195);
  mix-blend-mode: difference;
  transform: translate(-150%, -150%);
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #000000;
  padding: 24vh 10vw;
  display: none;
}
#line {
  height: fit-content;
  overflow: hidden;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#line h1 {
  background: #000;
  font-size: 6.5vw;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

#line1-part1 {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  color: rgb(255, 255, 255);
  font-family: "silk serif";
  font-weight: 100;
}
#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

#line > h2 {
  font-size: 4.5vw;
  padding-left: 3vw;
  padding-right: 1vw;
  font-weight: 900;
  opacity: 0;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: white;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "plain light";
    font-weight: 500;
    color: white;
    -webkit-text-stroke: 1px white;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    font-weight: 500;
    -webkit-text-stroke: 1px white;
    color: rgb(0, 0, 0);
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    font-weight: 500;
    -webkit-text-stroke: 1px white;
    color: rgb(0, 0, 0);
    opacity: 0;
  }
}

#main {
  position: relative;
  background-color: #000;
}

#page1 {
  height: 100vh;
  width: 100%;
  background: #181818;
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.5vw;
  color: white;
}
#nav-part2 {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-part2 h4 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
}

.hero {
  /* background: red; */
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  overflow: hidden;
  cursor: pointer;
}
.hero:nth-child(2) {
  margin-top: 15vh;
}
.hero h2 {
  font-size: 8vw;
  text-transform: uppercase;
  line-height: 8vw;
}
#hero1::before {
  content: "01";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  left: 20%;
  top: 3.9%;
}
#hero3 h2 {
  font-size: 8vw;
  text-transform: uppercase;
  text-decoration: underline;
}
#hero3 h3 {
  font-size: 7vw;
  padding-left: 1vw;
}
#hero3 {
  display: flex;
  transition: 1s;
}
#hero3 h2:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-weight: 500;
  text-decoration: none;
}
#hero3 > h2:nth-child(2) {
  text-decoration: none;
}

/* page2 css */

#page2 {
  height: 100vh;
  width: 100%;
  background: #181818;
}

#video_container {
  height: 60%;
  width: 70%;
  background: #181818;
  position: relative;
  left: 30%;
  top: 15%;
}

#video_container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#videoCursor {
  background-color: #ffb909;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  top: -10%;
  left: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#videoCursor i {
  position: absolute;
  font-size: 2.5vw;
}

/* page3 css  */

#page3 {
  min-height: 100vh;
  width: 100%;
  background: #3e3e3e;
}
/* page4 css  */

#page4 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: #202020;
  padding-top: 8vh;
}

#page_content {
  width: 72%;
  margin-left: 26%;
  /* background: #fb0000; */
}
#page_content h1 {
  font-size: 7vw;
  text-transform: uppercase;
}

#page_content .underline1 {
  height: 1.5px;
  width: 100%;
  background: #ffffff;
  margin: 5vw 0;
}
#page_content > p {
  font-size: 2.1vw;
  width: 50%;
  color: rgba(255, 255, 255, 0.717);
  margin-bottom: 2vw;
}

#page4-flex {
  display: flex;
}
#page4-flex img {
  width: 48%;
  object-fit: cover;
  margin: 0 2vw 1vw 0;
}
#page4-flex > p {
  font-size: 0.9vw;
  width: 20%;
}

#page4-blue-div {
  padding: 2vw 3vw;
  width: 45%;
  background-color: #3f7df4;
  position: relative;
  margin-top: -33vh;
  margin-left: 27vw;
}
.blue-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5vw 0;
  border-bottom: 2px solid #ffffff9b;
}
.blue-div-elem p {
  width: 50%;
  font-size: 0.8vw;
}
.blue-div-elem h4 {
  width: 100%;
  font-size: 1.3vw;
  font-weight: 500;
}
.underline2 {
  height: 1.5px;
  width: 100%;
  background: #ffffff;
  margin: 5vw 0 0 0;
}

/* page5 */

#page5 {
  min-height: 90vh;
  width: 100%;
  background: #202020;
  padding-top: 5vh;
  position: relative;
}

.elem {
  /* background: #ff9090; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 16.5vh;
}
.elem h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px white;
  font-weight: 100;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  animation-name: slide;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.elem2 {
  /* background: #ff9090; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 16.5vh;
}
.elem2 h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px white;
  font-weight: 100;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  animation-name: slide;
  animation-duration: 11s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translateX(calc(-100% - 20px));
  animation-direction: reverse;
}

.elem span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
  text-transform: uppercase;
}
.elem2 span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
  text-transform: uppercase;
}


/* footer  */

#footer {
  height: 90vh;
  width: 100%;
  background: #202020;
  padding-left: 28vw;
  padding-right: 2vw;
  position: relative;
}

#footer h1 {
  font-size: 7vw;
  color: white;
  text-transform: uppercase;
}
#footer h1::before {
  content : "04";
  position: relative;
  font-size: 3vw;
  font-weight: 300;
  font-family:  "silk serif";
  left: -12%;
  top: 8%;
}
.underline {
  height: 1.5px;
  width: 100%;
  background: rgba(255, 255, 255, 0.558);
  margin: 2vw 0;
}

#footer-div {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 4vw 15vw 6vw 0 ;
}

#footer-div h5 {
  font-size: 1.2vw;
  color: white;
  margin: 0.2vh 0;
  text-transform: uppercase;
}
.box {
  width: 20%;
}
#footer-div h6 {
  font-size: .9vw;
  font-weight: 500;
  color: white;
  margin-bottom: 1.5vw;
}

#footer>h5 {
  font-size: 1vw; 
  font-weight: 500;
}